<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="shortcut icon" href="/ff.jpg" type="image/x-icon" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>
<body>

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.github %}
          <li class="github"><a href="https://github.com/{{site.github}}" target="_blank"><img src="https://github.com/favicon.ico" alt="" width="22"/></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" target="_blank"><img src="https://github.com/favicon.ico" alt="" width="22"/></a></li>
        {% endif %}
		{% if site.gmail %}
          <li class="github"><a href="mailto:{{site.gmail}}" target="_blank"><img src="https://user-images.githubusercontent.com/26774647/40095031-89231554-58fc-11e8-9915-1b7eca3968f4.png" alt="" width="22"/></a></li>
        {% else %}
        {% endif %}
		{% if site.coding %}
          <li class="github"><a href="https://coding.net/u/{{site.coding}}" target="_blank"><img src="https://user-images.githubusercontent.com/26774647/40096551-edb6e5ca-5903-11e8-8326-b8ffa65ea736.jpg" alt="" width="22"/></a></li>
        {% else %}
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
  
  <div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="border-radius: 1rem;border: 1px solid #cfd4db;padding:0 .5rem 0 .2rem;outline: none;color: #2eb515;" placeholder="文章标题" >

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/search/img/cb-close.png"  id="cb-close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 10%; top: 10%;">
    <img src="/search/img/cb-search.png"  id="cb-search-btn"  title="双击ctrl试一下"/>
</div>

<link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

<script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>
  
  
</aside> <!-- End Sidebar -->

    {{ content }}

</body>
</html>
